$kurale: 'Kurale', serif;
$os: 'Open Sans', sans-serif;

$white: #fff;
$yellow: #E8C300;
$color: #000;

$text:18px;
$wrap: 1440px;
$container: 1230px;
$mc:0 auto;


@mixin flex($jc, $ai){
    display: flex;
    flex-wrap: wrap;
    justify-content: $jc;
    align-items: $ai;
}

@mixin img{
    width: 475px;
    height: 475px;
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
}

@mixin line{
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background: $yellow;
    border-radius: 50px;
    margin: $mc;
    margin-top: 10px;
    margin-bottom: 35px;
}

body{
    font-family: $os;
    background: $white;
    color: $color;
    font-size: $text;
}

.wrapper{
    max-width: $wrap;
    margin: $mc;
}
.container{
    max-width: $container;
    margin: $mc;
    padding: 0 15px;
}
svg{
    width: 100%;
    height: 100%;
}
.circle{
    width: 250px;
height: 250px;
border-radius: 50%;
border: 20px solid $yellow;
position: absolute;
top: 50%;
filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
}
section h2{
    font-size: 42px;
    font-weight: 400;
    font-family: $kurale;
    text-transform: uppercase;
    &::after{
        @include line;
    }
}
section  p{
    font-size: $text;
    line-height: 175%;
    margin-bottom: 25px;
}
.intro{
    font-weight: bold;
}
